.header {
    background-color: #222;

    &__wrapper {
        @include felxspbetween;
        min-height: 74px;
    }

    &__logo {

        display: flex;
        gap: 41px;
        align-items: center;
    }


    &__link_img_logo {
        width: 44px;
        height: 38px;
    }

    &__link_img_search {
        height: 26px;
        width: 26px;

    }

    &__menu {
        display: flex;
        gap: 41px;
        align-items: center;
    }

}

.nav_left__link {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;

}







.icon:hover {
    fill: $baseColorSitePink;
    stroke: $baseColorSitePink;
}

.icon__logo {
    width: 44px;
    height: 38px;
}

.search_icon {
    width: 32px;
    height: 23px;
}


.icon__burger {
    width: 32px;
    height: 23px;
}

.icon__profile {
    width: 29px;
    height: 29px;
}

.icon__cart {
    width: 31.996px;
    height: 29px;
}