.header {
    position: relative;
    background-color: #222;

    &__wrapper {
        @include felxspbetween;
        min-height: 74px;
    }

    &__logo {

        display: flex;
        gap: 41px;
        align-items: center;
    }


    &__link_img_logo {
        width: 44px;
        height: 38px;
    }

    &__link_img_search {
        height: 26px;
        width: 26px;

    }

    &__menu {
        display: flex;
        gap: 41px;
        align-items: center;

        &__title {
            color: #000;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__nav {
        width: 232px;
        height: 639px;
        background: #FFF;
        padding: 32px;
        box-sizing: border-box;
        position: absolute;
        top: 75px;
        right: 0;
        //transition Почему-то не работает
        transition: right .4;
        z-index: 2;
    }

}



#burger-menu-id {
    position: absolute;
    visibility: hidden;

    &:checked~.header__nav {
        display: none;
        right: -232px;
    }
}

.filters__link-wrap {
    flex-direction: column;
    display: flex;
}

.filters__item_menu {
    margin-top: 20px;
}

.filters__head_menu {
    border: none;
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 12px;


}

.filters__link_menu {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 11px;

    &:hover {
        color: $baseColorSitePink;
    }
}

.cross_icon_menu {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.nav_left__link {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;

}







.icon:hover {
    fill: $baseColorSitePink;
    stroke: $baseColorSitePink;
}

.icon__logo {
    width: 44px;
    height: 38px;
}

.search_icon {
    width: 32px;
    height: 23px;
}


.icon__burger {
    width: 32px;
    height: 23px;
}

.icon__profile {
    width: 29px;
    height: 29px;
}

.icon__cart {
    width: 31.996px;
    height: 29px;
}