@import 'vars';
@import 'mixins';
@import 'header';
@import 'products';
@import 'advantage';
@import 'request_form';
@import 'footer';
@import 'product';
@import 'catalog';
@import 'cart';




* {
    margin: 0;
    padding: 0;
}

select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

li {
    list-style: none;
}

body {
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}



.icon__facebook,
.icon__instagram,
.icon__pinterest,
.icon__twitter {
    width: 32px;
    height: 32px;
}

.icon_social {
    fill: white;
    stroke: black;
    box-sizing: border-box;
}

.icon_social:hover {
    stroke: white;
    fill: $baseColorSitePink;
}

.advantage__icon {
    width: 44px;
    height: 31px;
}


.cross_icon {
    width: 20px;
    height: 20px;
}



.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}


.top {

    background-color: #F1E4E6;
}

.top__wrapper {
    @include felxspbetween;

    gap: 63px;
}


.top__img img {}

.top__title {

    border-left: 12px solid $baseColorSitePink;
    padding-left: 16px;
}

.top__content {
    margin-right: 220px;

}

.top__title__the_brand {
    color: #222;
    font-family: Lato;
    font-size: 44px;
    font-weight: 900;
}

.top__title__of_luxory {
    color: #222;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.top__title__fashion {
    color: $baseColorSitePink;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category {
    padding-top: 65px;
    margin-bottom: 66px;
}

/* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end; */

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.wrapper__cards {
    padding-top: 60px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;

}

.div4 {
    grid-area: 2 / 1 / 3 / 4;
}

.category__card__img {
    display: flex;
    flex-direction: column;
}


.category__cards {
    display: flex;
}

.category__card {
    position: relative;
}

.category__card:hover {
    opacity: 45%;
}

.category__card__content {
    position: absolute;
    top: 40%;
    left: 30%;
}

.category__card__content1 {
    @include flexcolumn;
}

.category__card__content__accesories1 {
    @include flexcolumn;
    justify-content: center;
}

.category__subtitle {

    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;


}

.category__title {
    color: $baseColorSitePink;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;

}

.category__card__content__accesories {
    position: absolute;
    top: 35%;
    left: 45%;
}



.wrapper__show__product {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.wrapper__show__product__btn {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 39px;
    background-color: #FFF;
    border: 1px solid #F26376;
}

.wrapper__show__product__btn:hover {
    color: #000;
    background-color: #F26376;
}

.category__card__link img {
    width: 100%;
}





/* Tablet version  */
@media(max-width: 1120px) {
    .products__cards {
        column-gap: 20px;
    }

    .top__img img {
        width: 50%;
    }

    .top__wrapper {
        gap: 0px;
        justify-content: center;
    }

    .top__content {
        margin-right: 30px;
    }

    .products__cards {
        grid-template-columns: repeat(2, 360px);
        justify-content: center;

    }

    .advantage__cards {
        @include flexcolumn;
        padding-bottom: 64px;
        padding-top: 48px;
        gap: 48px;
    }

    .advantage__icon {
        padding-top: 0;
    }

    .advantage__text {
        padding-bottom: 0;
    }

    .footer__wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Tablet version  */
@media(max-width: 1112px) {
    .request_form {
        background-image: url("../image/bgc_form_tablet.png");
        background-size: cover;
    }

    .request_form__wrapper {
        flex-direction: column;
        gap: 0;
        padding-top: 48px;
    }

    .request__content {
        padding-bottom: 48px;
        padding-top: 64px;

    }

    .request__form {
        padding-bottom: 219px;
    }

    .request__email {
        padding-bottom: 219px;
    }

    .request__email {
        padding-bottom: 0;
    }

}

/* Mobile version */
@media (max-width:768px) {
    .top {
        min-height: 363px;
        justify-content: center;
        display: flex;
    }

    .top__content {
        padding-right: 0px;
    }

    .top__img {
        display: none;
    }


    .header__link__hidden {
        display: none;
    }

    .category-grid {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    .category__cards {
        @include flexcolumn;
        flex-wrap: nowrap;
        flex-grow: 0;
        max-width: 360px;
    }

    .category__card__img {
        width: 100%;
    }

    .category__card__link {
        display: block;
    }

    .category__card__content {
        position: absolute;
        top: 44%;
        left: 38%;
    }

    .category__card__content__accesories {
        position: absolute;
        top: 25%;
        left: 35%;
    }

    .products {
        @include flexcolumn;
        padding-left: 16px;
        padding-right: 16px;
    }

    .products__cards {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        column-gap: 0;

    }

    .product__card {
        max-width: 700px;
    }

    .product__card img {
        width: 100%;
    }

    .request_form__wrapper {
        flex-direction: column;
        gap: 48px;
    }

    .request__form {
        padding-bottom: 140px;
    }

    .request__email form {
        justify-content: center;
    }

    .request__email__input_email {
        padding-left: 15px;
        padding-right: 5px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

}